In [18]:
def add_two_numbers():
    a=10
    b=30
    c = a+b
    #print(c)
#add_two_numbers()

In [19]:
x = add_two_numbers()
print(x)

None

In [20]:
def get_phone_num():
    dt1 = {'per1':12345}
    return dt1.get('per1')

In [21]:
get_phone_num()

12345

In [44]:
def phone_number(name):
    print(name)
    dict = {'per1': 12345, 'per2': 1235, 'per3': 1345, 'per4': 2345, 'per5': 1255}
    return dict.get(name)


phone_number('per1')

per1

12345

In [49]:
def add_two_numbers(a,b):  # Argument
    c = a+b
    print(c)
add_two_numbers(10,99)  # parameter

109

In [58]:
def add_three_num(a,b,c):
    return a+b+c
add_three_num(12,3,1)

16

In [59]:
def add_two_num(a,b):
    return a+b
add_two_num(b=20,a=44)  #Key word argument

64

In [71]:
def add_two_numbers2(a,b,c):
    print(a)
    print(b)
    print(c)
    return a+b+c
add_two_numbers2(30,c=1000,b=200)

30
200
1000

1230

In [79]:
def add_num(*args):  # for declaring single dimensions.
    print(args)
add_num(1,2,3,4,5,6,7)

(1, 2, 3, 4, 5, 6, 7)

In [80]:
def add_num(**kwargs):  # for declaring single dimensions.
    print(kwargs)
add_num(a=1,b=2,c=3)

{'a': 1, 'b': 2, 'c': 3}

In [86]:
def get_data1(*args,**kwargs):
    print(args,kwargs)
get_data1(1,2,3,4,5,a=1,b=2,c=3)

(1, 2, 3, 4, 5) {'a': 1, 'b': 2, 'c': 3}

In [93]:
def get_data2(a,b,*args, **kwargs):
    print(a,b,args,kwargs)
get_data2(1,2,3,4,5,x=1,y=2)

1 2 (3, 4, 5) {'x': 1, 'y': 2}

In [95]:
def print_fun(name):
    print(name)
    print("hello how are you",name)
print_fun('sriram')

sriram
hello how are you sriram

In [98]:
def get_date(a,b):
    print(f'sum of {a} and {b} are {a+b}')
get_date(100,200)

sum of 100 and 200 are 300

In [105]:
# Global variable#
a=1000
b = 2000
def get_date1():
    a =100
    b = 2
    print(f'sum of {a} and {b} are {a+b}')
def get_date2():
    print(f'sum of {a} and {b} are {a+b}')
get_date1()
get_date2()

sum of 100 and 2 are 102
sum of 1000 and 2000 are 3000

In [112]:
# Normal function to get the squar root

def square_root(x):
    return x**2
square_root(5)

25

In [115]:
def add(a,b):
    return a+b
add(2,3)

5

In [ ]:
#Expression oriented function
#(Expression oriented funtions)
#lambda  
#map
#filter
#reduce
#list comprehension
#zip

In [ ]:
#Lambda - Function or keyword (anonymous((function without name)))
#doesnt return any value but return expression (Cannot access global variable and is 
#                                               a one liner )

In [ ]:
#syntax:
    #lambda argument :expression

In [122]:
# def add(a,b):
#     return a+b
# add(2,3)

# f = lambda a : a**2
# f(5)

f = lambda a,b : a+b
f(5,25)

30

In [126]:
c = lambda a,b,c : a+b+c
c(2,55,11)

68

In [129]:
def square_root(x):
    return x**2
square_root

In [130]:
def add_num(*a):
    return sum(a)
add_num(1,2,3,4,5)

15

In [132]:
lst = lambda *a : sum(a)
lst(1,2,3,4,5)

15

In [136]:
x = lambda a,b=3,*c,**d:(a,b,c,d)
x(10,20,30,40,50,z=10)

(10, 20, (30, 40, 50), {'z': 10})

In [138]:
def square_root(x):
    return x**2

In [148]:
def apply_func(x,y):
    return y(x)  # one function can be passed as a argument to another function
apply_func(5,square_root)

25

In [149]:
apply_func(5,lambda x:x**2)

25

In [152]:
is_even = lambda a : a%2==1
is_even(11)

True

In [160]:
# def num(a):
#     if a%2 ==0:
#         print(a+2)
#     else:
#         print(a+1)
# num(9)
            
n= lambda a : a+2 if a%2==0 else a+1
n(10)

12

In [161]:
ls = ['a','B','c','D','e','a'] 
sorted(ls)

['B', 'D', 'a', 'a', 'c', 'e']

In [162]:
sorted(ls,key = lambda a:a.upper())

['a', 'a', 'B', 'c', 'D', 'e']

In [167]:
val =lambda **kwargs:sum(kwargs.values())
val(a=10,b=20,c=30)

60

In [169]:
dty = {'a':1,'b':2}
dty.keys()
dty.values()

dict_values([1, 2])

In [171]:
#Map functions
#map(function,iterable)

def sq(a):
    return a**3
sq(2)

8

In [174]:
lst = []
ls = [1,2,3,4,5]
for i in ls:
    lst.append(i**3)
print (lst)

[1, 8, 27, 64, 125]

In [176]:
list(map(sq,[1,2,3,4,5]))

[1, 8, 27, 64, 125]

In [179]:
list(map(lambda a: a**3,[1,2,3,4,9]))

[1, 8, 27, 64, 729]

In [207]:
final = []
ls1 = [1,2,3,4,5]
ls2 = [10,20,30,40,50]
#ls3 =[11,22,33,44,55]

for i in range(len(ls1)):
#     print (i)
    final.append(ls1[i] + ls2[i])
print(final)

[11, 22, 33, 44, 55]

In [208]:
tuple(map(lambda a,b,c: a+b,ls1,ls2,final))

(11, 22, 33, 44, 55)

In [222]:
name = "gopinath"
upp = list(name.upper())
low = list(name.lower())
print (upp)
print (low)

['G', 'O', 'P', 'I', 'N', 'A', 'T', 'H']
['g', 'o', 'p', 'i', 'n', 'a', 't', 'h']