In [19]:
#Lear Tuple

#1) similar to list and immutable and created using ()

#Create Tuple
programs = ('python','Appium','datascience','selenium','ws')
print (type(programs))
print(programs)
print (id(programs))
print ("*" *50,"Program1")

programs = ()
print (id(programs))
print(programs)

print ("*" *50)

programs = ('python',)     #even if is a single item, "comma" should be imcluided else it wil be considered as astring
print (type(programs))
print ("*" *50)

programs = ('python')
print (type(programs))  # this is not a tuple and its just a string
print ("*" *50)

programs = 'python','Appium','datascience','selenium','ws'  
# no brackets are in the list is considered as tuple
print (type(programs))
print ("*" *50,"Program")

<class 'tuple'>
('python', 'Appium', 'datascience', 'selenium', 'ws')
2121828219936
************************************************** Program1
2121758605376
()
**************************************************
<class 'tuple'>
**************************************************
<class 'str'>
**************************************************
<class 'tuple'>
************************************************** Program

In [28]:
#Update tuple
# tp1 = ('a','b','c')
# tp2 = ('1','2','3')
# tp3 = tp1 + tp2    # to update, we can use the + operator
# print(tp3)

('a', 'b', 'c', '1', '2', '3')

In [37]:
#delete tuple
#del tp3
#print(tp3)   # because its deleted it says Tp3 is not defined.

In [49]:
# convert from tuple to list
# list = [1,2,3,4]
# tuple(list)

tp5 = (1,2,3,4)
list(tp5)
************TO CHECK*******

# A = (1,2,3,4)
# print (type(A))
# print(A)

TypeError: list indices must be integers or slices, not tuple