In [5]:
# FIlter getsout the values only when the condition is true
list(filter(lambda a: a%2==0,[1,2,3,4,5]))

[2, 4]

In [14]:
import functools as ft  # importing
#syntax: reduce(function, iterator)

lst = [100,200,300,400]
ft.reduce(lambda a,b:a+b,lst)

1000

In [34]:
lst = [40,200,300,500,-50]
max_find = lambda a,b:a if (a>b) else b
ft.reduce(max_find,lst)

500

In [39]:
#want to square the items in the list
# lst1=[]
# for i in lst:
#     lst1.append(i*i)
# print(lst1)
lst1 = [1,2,3,5,-10]
[i**2 for i in lst1]   # list comprehension

[1, 4, 9, 25, 100]

In [43]:
#syntax for list comprehension  -> Returns a list
#new_list = [expression for each element in your list of collections]
[i**2 for i in lst1]

[1, 4, 9, 25, 100]

In [49]:
# ls = []
# for i in "Gopinath":
#     ls.append(i)
# print (ls)

[i for i in "Gopinath"]

['G', 'o', 'p', 'i', 'n', 'a', 't', 'h']

In [50]:
[i for i in range(200,211)]

[200, 201, 202, 203, 204, 205, 206, 207, 208, 209, 210]

In [55]:
for i in range(200,211):
    if (i%2==0):
        print(i)

200
202
204
206
208
210

In [57]:
list(filter(lambda a: a%2==0,range(200,211)))  # combination of list, filter &
#lambda

[200, 202, 204, 206, 208, 210]

In [58]:
[i for i in range(200,211) if i %2 ==0]

[200, 202, 204, 206, 208, 210]

In [59]:
# nested for loop. (first it will take the input from 
#brackets and manupulate externally
[x**2 for x in [x**2 for x in range(11)]]

[0, 1, 16, 81, 256, 625, 1296, 2401, 4096, 6561, 10000]

In [62]:
ls = []
for x in range(11):
    ls.append(x**2)
print(ls)

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [64]:
lst=[]
for x in [0, 1, 4, 9, 16, 25, 36, 49, 64, 81, 100]:
    lst.append(x**2)
print(lst)

[0, 1, 16, 81, 256, 625, 1296, 2401, 4096, 6561, 10000]

In [66]:
# enumurator
ls = ['a','b','c','d','e']
for i in ls:
    print(i)

a
b
c
d
e

In [67]:
# to get the index of a list.
j = 0
ls = ['a','b','c','d','e']
for i in ls:
    print(j,i)
    j = j+1

0 a
1 b
2 c
3 d
4 e

In [70]:
for i ,j in enumerate(ls):
    print(i,j)

0 a
1 b
2 c
3 d
4 e

In [74]:
months = ['march','april','may','June']
list(enumerate(months)) # to generate

[(0, 'march'), (1, 'april'), (2, 'may'), (3, 'June')]

In [76]:
list(enumerate(months,start=3))  # to start with specific index.

[(3, 'march'), (4, 'april'), (5, 'may'), (6, 'June')]