In [ ]:
# # Map function - map(args1,args2)
#                  #map(args1(function),args2,args3.......)  
# - function1 as an argument
# - second for iterables (might be a set, list or collections)
# return map object - convert as a list

# syntax:
    
#     map(function,iterable)
#     map(function, iterable1,iterable2)

In [1]:
def sq(a):
    return a**3
sq(2)  # this is for one item

8

In [3]:
ls1 = []
ls = [1,2,3,4,5]
for i in ls:
    ls1.append(i**3)
print(ls1)

[1, 8, 27, 64, 125]

In [4]:
ls1 = []
ls = [1,2,3,4,5]
for i in ls:
    ls1.append(sq(i))
print(ls1)

[1, 8, 27, 64, 125]

In [6]:
list(map(sq,ls))

[1, 8, 27, 64, 125]

In [7]:
list(map(lambda a : a**3,ls))

[1, 8, 27, 64, 125]

In [8]:
list(map(lambda a : a**3,[1,2,3,4,5]))

[1, 8, 27, 64, 125]

In [9]:
f = lambda a,b : a+b
f(10,20)

30

In [13]:
ls1 = [1,2,3,4,5]
ls2 = [10,20,30,40,50]
outp = [11,22,33,44,55]
list(map(lambda a,b:a+b,[1,2,3,4,5],[10,20,30,40,50]))

SyntaxError: invalid syntax (<ipython-input-13-364f653657d8>, line 5)

In [12]:
ls1 = [1,2,3,4,5]
ls2 = [10,20,30,40,50]
ls3 = []
for i in range(len(ls1)):
    ls3.append(ls1[i] + ls2[i])
print (ls3)

[11, 22, 33, 44, 55]

In [17]:
list(map(lambda a,b,c : a+b,ls1,ls2,ls3))
tuple(map(lambda a,b,c : a+b,ls1,ls2,ls3))

(11, 22, 33, 44, 55)

In [19]:
list(map(lambda a: a+2 if a%2 ==0 else a+1,[1,2,3,4,5]))

[2, 4, 4, 6, 6]

In [24]:
name = "Gopinath"
fn = lambda a:a.upper()
m = map(fn,name)
list(m)

['G', 'O', 'P', 'I', 'N', 'A', 'T', 'H']